article .container .games {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}
@media (max-width: 500px) {
  article .container .games {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

article .container .games .div {
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgb(220, 220, 220);
          box-shadow: 0 0 10px rgb(220, 220, 220);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 10px;
}
article .container .games .div > i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
article .container .games .div > i:hover {
  color: white;
  background-color: blue;
}

article .container .games .div img {
  margin: auto;
}

article .container .games .div .text {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}